﻿@model NTB.Odds.Input.Domain.Classes.UserProfile 
@{
    ViewBag.Title = "Endre profil";

    string userId = string.Empty;
    string firstname = string.Empty;
    string lastname = string.Empty;
    string signature = string.Empty;
    if (@Model != null)
    {
        userId = Model.UserId.ToString();
        firstname = Model.FirstName;
        lastname = Model.LastName;
        signature = Model.Signature;
    }
    else
    {
        userId = Membership.GetUser().ProviderUserKey.ToString();
    }
}

<h2>@ViewBag.Title</h2>

<form action="/Profile/Edit/@userId" role="form" method="POST" >
<fieldset class="container-fluid">
    <legend>Endre</legend>
    <div class="form-group col-md-5">
        <label class="col-md-3 control-label" for="firstname">Fornavn</label>
        <input type="text" class="col-md-2 form-control" name="firstname" value="@firstname"/>
    </div>
    <div class="clearfix"></div>

    <div class="form-group col-md-5">
        <label class="col-md-3 control-label" for="lastname">Etternavn</label>
        <input type="text" class="col-md-2 form-control" name="lastname" value="@lastname"/>
    </div>
    <div class="clearfix"></div>
    
    <div class="form-group col-md-5">
        <label class="col-md-3 control-label" for="signature">Signatur</label>
        <input type="text" class="col-md-2 form-control" name="signature" value="@signature"/>
    </div>
    <div class="clearfix"></div>
    <input type="submit" value="Oppdater" class="btn btn-success"/>&nbsp;
    <input type="reset" value="Tøm" class="btn btn-warning"/>
</fieldset>
</form>