﻿@model NTB.Odds.Input.Domain.Classes.UserProfile
@{
    ViewBag.Title = "Profil";
}

<h2>@ViewBag.Title</h2>
<div>
    @{
        if (Model != null)
        {

            <label>Fornavn: </label>
            <span>@Model.FirstName @Model.LastName</span>
            <br/>
            <label>Rolle</label>
            <span>@Model.Role</span>
            <br/>
            <a href="/Profile/Edit/@Model.UserId">Endre</a>
        }
        else
        {
            string userid = Membership.GetUser().ProviderUserKey.ToString();
            <a href="/Profile/Edit/@userid">Endre</a>
        }
    }
        </div>