﻿@using NTB.Odds.Input.Domain.Classes;
@model List<ImportFile>

@{
    ViewBag.Title = "Index";
}

<h2>Filer til import</h2>
<table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>Filnavn</th>
            <th>Dato</th>
            <th>Filstørrelse</th>
            <th colspan="2">&nbsp;</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">Antall filer: @Model.Count</td>
        </tr>
    </tfoot>
    <tbody>
        @{
            bool first = true;
            foreach (var file in Model)
            {
                var dialogname = "dialog" + file.FileName.Replace(".", "");

                if (first)
                {
                    first = false;
                        <tr class="warning">
                        <td>
                            @file.FullName
                        </td>
                    
                        <td>
                            @file.CreationDate
                        </td>
                        <td>
                            @file.FileSize
                        </td>
                        <td>
                            <a href="/Import/ImportFile/@file.FileName">
                                <img src="/Content/images/24x24/database_upload.png" alt="Importer"/>
                            </a>
                        </td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#@dialogname">
                                <img src="/Content/images/24x24/delete.png" alt="Slett"/>
                            </a>
                        
                            <!-- Modal dialog to be used when deleting a file -->
                            <div class="modal fade" id="@dialogname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header alert-danger">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title text-center">Slette @file.FileName ?</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p>Er du sikker på at du vil slette<br/>
                                                @file.FileName
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="GET" action="/Import/DeleteFile/@file.FileName">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                                                <input type="submit" class="btn btn-primary" value="Slett fil"></input>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                        </td>
                    </tr>
                    
                }
                else
                {
                    <tr>
                        <td>
                            @file.FullName
                        </td>
                    
                        <td>
                            @file.CreationDate
                        </td>
                        <td>
                            @file.FileSize
                        </td>
                        <td>
                            <a href="/Import/ImportFile/@file.FileName">
                                <img src="/Content/images/24x24/database_upload.png" alt="Importer"/>
                            </a>
                        </td>
                        <td>
                            <a href="#" data-toggle="modal" data-target="#@dialogname">
                                <img src="/Content/images/24x24/delete.png" alt="Slett"/>
                            </a>
                        
                            <!-- Modal dialog to be used when deleting a file -->
                            <div class="modal fade" id="@dialogname" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header alert-danger">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title text-center">Slette @file.FileName ?</h4>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p>Er du sikker på at du vil slette<br/>
                                                @file.FileName
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <form method="GET" action="/Import/DeleteFile/@file.FileName">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                                                <input type="submit" class="btn btn-primary" value="Slett fil"></input>
                                            </form>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->

                        </td>
                    </tr>
                }

            }
        }
    </tbody>
</table>