﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/themes/ui-lightness/jquery-ui.css")" rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/ui/jquery-ui.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script> 
    </head>
    <body>
        <div class="container-fluid">
            <div id="header" class="row-fluid">
                <div id="mymenucontainer" class="row-fluid">
                    <div class="navbar navbar-default">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">NTB Odds Input</a>
                            </div>
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="@(ViewBag.Active == "Home" ? "active" : "")">
                                        @Html.ActionLink("Home", "Index", "Home")
                                    </li>
                                    <li class="@(ViewBag.Active == "About" ? "active" : "")">
                                        @Html.ActionLink("About", "About", "Home")
                                    </li>
                                    @Html.Partial("_LogOnPartial")
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
            </div>
            <div id="row-fluid">
                @RenderBody()
            </div>
            <div id="row-fluid">
            </div>
        </div>
        
        
        <script type="text/javascript">
            $(document).ready(function () {
                $("#datepicker").datepicker({
                    dateFormat:'dd-mm-yy'
                });
                $("input[type=submit]").click(function () {

                    var formId = this.form.id;

                    if (formId == null) {
                        return true;
                    }

                    var matchId = formId.replace("registermatch_", "");
                    if (matchId != "") {
                        var vurdering = $("#vurdering_" + matchId);
                        var odds = $("#matchodds_" + matchId);
                        var buttonSave = $("#btn_" + matchId);

                        $.ajax({
                            type: 'POST',
                            url: '/Article/PostComment/' + matchId,
                            data: $("#" + formId + ' :input').serialize(),
                            success: function (returndata) {
                                $("#btn_" + matchId).attr("value", "Oppdater");
                            },
                            error: function () {
                                alert("Error!");
                            }
                        });

                        return false;
                    }
                });

            });
        </script>
    </body>
</html>
