﻿@if(Request.IsAuthenticated) {
    <li class="@(ViewBag.Active == "Home" ? "active" : "")">
        @Html.ActionLink("Import", "Index", "Import")
    </li>
    
    if (Convert.ToBoolean(Session["ImportedMatches"]))
    {
    <li class="@(ViewBag.Active == "Article" ? "active" : "")">
        @Html.ActionLink("Vurderinger", "Index", "Article")
    </li>        
    
}

    <li id="userprofile" class="@(ViewBag.Active == "Home" ? "active" : "")">
        @Html.ActionLink("Profil", "Index", "Profile")
    </li>
    <li id="logindisplay" class="@(ViewBag.Active == "Home" ? "active" : "")">
        Welcome @User.Identity.Name
    </li>
    
    <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
}
else
{
    
    <li id="logindisplay">@Html.ActionLink("Log On", "LogOn", "Account")</li>
}
