﻿@using NTB.Odds.Input.Domain.Classes
@model ArticleViewModel
@{
    ViewBag.Title = "Dagens kamper";
}

<h2>Dagens kamper (@Model.Matches.Count)</h2>
<span>Dato: @Model.Matches[0].MatchDate.Date.ToShortDateString()</span>
<form method="POST" action="/Article/Index">
    <input type="text" name="matchDate" id="datepicker"/>&nbsp;<input type="submit" value="Hent kamper" class="btn btn-success" />
</form>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="col-sm-2">Kampinfo</th>
                <th class="col-sm-2">Lag</th>
                <th class="col-sm-2">Vurdering</th>
                <th class="col-sm-1">Odds</th>
                <th class="col-sm-1">Vår mening</th>
                <th class="col-sm-1">&nbsp;</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="6">
                    <form method="POST" action="/Article/CreateXml">
                        <input type="submit" name="sendin" class="btn btn-default btn-info" value="Send inn" />
                    </form>
                </td>
            </tr>
        </tfoot>
        <tbody>
            @{
                foreach (Match match in Model.Matches)
                {
                    var formName = "registermatch_" + match.MatchId;
                    var formId = "registermatch_" + match.MatchId;
                    var textareaVurdering = "vurdering_" + match.MatchId;
                    var radioMatchOdds = "matchodds_" + match.MatchId;
                    var radioMatchType = "matchtype_" + match.MatchId;
                    var tvstation = "tv_" + match.MatchId;
                    var tvstationselect = "sel_tv_" + match.MatchId;
                    var matchTime = match.MatchStartTime.ToString().PadLeft(4, '0');
                    var matchStartTime = matchTime.Substring(0, 2) + ":" + matchTime.Substring(2, 2);
                    var buttonSaveId = "btn_" + match.MatchId;
                    <tr>
                        <td colspan="6">
                            <form method="POST" action="#" name="@formName" id="@formId">
                                <input type="hidden" name="matchid" value="@match.MatchId"/>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="col-md-3">
                                                <strong class="col-sm-4">Turnering:</strong><span class="col-sm-7">@match.TournamentName</span><br/>
                                                <strong class="col-sm-4">Sport:</strong><span class="col-sm-7">@match.SportName</span><br/>
                                                <strong class="col-sm-4">Kampstart:</strong><span class="col-sm-7">@matchStartTime</span><br/>
                                                <strong class="col-sm-4">TV-kanal:</strong>
                                                <input class="col-sm-7" type="text" name="@tvstation" id="@tvstation" value="@match.Broadcaster.Name"/><br/>
                                                <span class="col-sm-4">&nbsp;</span>
                                                <span class="col-sm-7">
                                                    <select name="@tvstationselect">
                                                        <option value="">Velg kringkaster</option>
                                                        @{
                                                            foreach (Broadcaster broadcaster in Model.Broadcasters)
                                                            {
                                                                if (@match.Broadcaster.Id == broadcaster.Id)
                                                                {
                                                                    <option selected="selected" value="@broadcaster.Id">@broadcaster.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@broadcaster.Id">@broadcaster.Name</option>
                                                                }

                                                            }
                                                        }
                                                    </select>
                                                </span>
                                            </td>
                                            <td class="col-md-3">
                                                @match.HomeTeam - @match.AwayTeam
                                            </td>
                                            <td class="col-md-3">
                                                <textarea maxlength="500" rows="5" class="col-sm-12" placeholder="Vurdering" id="@textareaVurdering" name="@textareaVurdering">@match.MatchComment</textarea><br />
                                            
                                            </td>
                                            <td class="col-md-1">
                                                @{
                                                            if (match.SelectedOdds == match.BetObject.HomeSelectionOdds)
                                                            {
                                                        <input type="radio" checked="checked" name="@radioMatchOdds" value="@match.BetObject.HomeSelectionOdds"/>
                                                            }
                                                            else
                                                            {
                                                        <input type="radio" name="@radioMatchOdds" value="@match.BetObject.HomeSelectionOdds"/>
                                                            }
                                                
                                                }
                                                &nbsp;H:@match.BetObject.HomeSelectionOdds <br />
                                            
                                                @{
                                                            if (match.SelectedOdds == match.BetObject.DrawSelectionOdds)
                                                            {
                                                        <input type="radio" checked="checked" name="@radioMatchOdds" value="@match.BetObject.DrawSelectionOdds"/>
                                                            }
                                                            else
                                                            {
                                                        <input type="radio" name="@radioMatchOdds" value="@match.BetObject.DrawSelectionOdds"/>
                                                            }
                                                
                                                }
                                                &nbsp;U: @match.BetObject.DrawSelectionOdds<br />
                                            
                                                @{
                                                            if (match.SelectedOdds == match.BetObject.AwaySelectionOdds)
                                                            {
                                                        <input type="radio" checked="checked" name="@radioMatchOdds" value="@match.BetObject.AwaySelectionOdds"/>
                                                            }
                                                            else
                                                            {
                                                        <input type="radio" name="@radioMatchOdds" value="@match.BetObject.AwaySelectionOdds"/>
                                                            }
                                                
                                                }
                                                &nbsp;B: @match.BetObject.AwaySelectionOdds<br />
                                            </td>
                                            <td class="col-md-1">
                                                @{
                                                            if (match.SelectedMatchType == "SafeMatch")
                                                            {
                                                        <input type="radio" checked="checked" name="@radioMatchType" value="SafeMatch"/>
                                                            }
                                                            else
                                                            {
                                                        <input type="radio" name="@radioMatchType" value="SafeMatch"/>
                                                            }
                                                
                                                }
                                                &nbsp;Sikker kamp<br/>
                                            
                                                @{
                                                            if (match.SelectedMatchType == "HighMatch")
                                                            {
                                                        <input type="radio" checked="checked" name="@radioMatchType" value="HighMatch"/>
                                                            }
                                                            else
                                                            {
                                                        <input type="radio" name="@radioMatchType" value="HighMatch"/>
                                                            }
                                                }
                                                &nbsp;Høy odds<br/>
                                            
                                                @{
                                                            if (match.SelectedMatchType == "MatchOfTheDay")
                                                            {
                                                        <input type="radio" checked="checked" name="@radioMatchType" value="MatchOfTheDay"/>
                                                            }
                                                            else
                                                            {
                                                        <input type="radio" name="@radioMatchType" value="MatchOfTheDay"/>
                                                            }
                                                }
                                                &nbsp;Dagens spill<br/>
                                            </td>
                                            <td class="col-md-1">
                                                <input type="submit" value="Lagre" class="btn btn-info" id="@buttonSaveId"/>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</form>