﻿@using NTB.Odds.Input.Domain.Classes
@model List<NTB.Odds.Input.Domain.Classes.Document>
@{
    ViewBag.Title = "ListDocuments";
}

<h2>Produserte dokumenter</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Dato</th>
            <th>Tidspunkt</th>
            <th>Versjon</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4">&nbsp;</td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (Document document in Model)
        {
            <tr>
                <td>@document.Name</td>
                <td>@document.CreationDate.ToShortDateString()</td>
                <td>@document.CreationTime.ToString().Substring(0,2):@document.CreationTime.ToString().Substring(2,2)</td>
                <td>@document.Version</td>
            </tr>
        }
    </tbody>
</table>